[Unit]
Description=Chrome
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/chromium-browser --start-fullscreen
Type=simple

[Install]
WantedBy=default.target
